#content {
  margin: 0 auto;
  width: 900px;

}
 #masthead img {
   width:50%; height:auto;
   position:relative;
   background-size: cover;
   text-align:center;

 }
 p {
  indent-text: 5em;
  font-family:"Times New Roman", Times, serif;
  font-family: 'Open Sans', sans-serif;
  width:100%; height:auto;
 }
