/* CSS style with text style and font */
#content {
  margin-right: auto;
  margin-left: auto;
  max-width: 960px;
  padding-right: 10px;
  padding-left: 10px;
}

BODY {
  font-size: 12px;
font-style: normal;
letter-spacing: auto;
word-spacing: normal;
text-indent: 15px;
margin: auto;
}
header {
  text-align: center;
  padding: 60px;
  poition: absolute;
  margin: auto;
  margin-right: 1em;
  margin-left: 1em;

}
strong {
  font-family: 'Open Sans', serif;
  font-size: 3em;
  font-style: italic;
}
.image {

  padding-left: 20px;
  padding-right: 20px;
}

p {
font-family: 'Open Sans', sans-serif;
font-size: 18px;
margin:12px;
}

h2 {
font-size: 25px;
font-family: 'Times New Roman', Times, serif;

}

h3 {
font-size: 25px;

}
